# Credenciais do Banco de Dados PostgreSQL
POSTGRES_DB=seubancodedados
POSTGRES_USER=seuusuario
POSTGRES_PASSWORD=suasenha

# Credenciais do pgAdmin
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=admin

# Segredos da Aplicação
MY_SALT=seu-salt-super-secreto-e-longo-aqui
DOMINIO_APP=http://localhost:8080